@font-face {
  font-family: 'Yandex_Sans_Light';
  src: url(../fonts/Yandex_Sans_Display-Light.ttf);
}
@font-face {
  font-family: 'Yandex_Sans_Regular';
  src: url(../fonts/Yandex_Sans_Display-Regular.ttf);
}
@font-face {
  font-family: 'Yandex_Sans_Bold';
  src: url(../fonts/Yandex_Sans_Display-Bold.ttf);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F5F5F5; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #BFBFBF; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888888; 
}

body {
  background-color: #e5e5e5;
  height: 100vh;
  position: relative;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  padding: 25px 15px;
}

header .logo {
  padding-left: 20px;
}

.content {
  padding: 0 15px 15px 15px;
  width: 100%;
  flex: 1 1 auto;
  display: flex;
}

.content .file-container {
  background-color: #fff;
  padding: 20px 15px 0 30px;
  flex: 1 1 auto;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spinner-yandex-only {
  border-color: #FFCC00;
}

.content .file-container .preloader-wrapper{
  align-self: center;
}

.content .file-container .empty_state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content .file-container .empty_state i {
  color: #BFBFBF;
  font-size: 100px;
}

.content .file-container .empty_state  span {
  color: #bfbfbf;
  font-family: 'Yandex_Sans_Regular';
  font-size: 18px;
}

.content .file-container .folders {
  overflow-y: scroll;
  padding-right: 15px;
  flex: 1 1 auto;
  width: 100%;
  padding-top: 10px;
}

.content .file-container .file-container__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
} 

.content .file-container .file-container__header .breadcrumbs {
  font-size: 18px;
  line-height: 22px;
  color: #161616;
  font-family: 'Yandex_Sans_Light';
}

.content .file-container .file-container__header .breadcrumbs a {
  color: #a2a2a2;
  transition: color .15s;
}
.content .file-container .file-container__header .breadcrumbs a:hover {
  color: #FFCC00;
}

.content .file-container .file-container__item {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-bottom: 20px;
}

.content .file-container .file-container__item .folder,
.content .file-container .file-container__item .other {
  display: flex;
  flex-direction: column;
}
.content .file-container .file-container__item .folder i {
  color: #bfbfbf;
  font-size: 175px;
  transition: color .3s;
  line-height: 170px;
  text-align: center;
}
.content .file-container .file-container__item .folder:hover i {
  color: #FFCC00;
}
.content .file-container .file-container__item .folder span,
.content .file-container .file-container__item .other span {
  color: #000000;
  font-family: 'Yandex_Sans_Light';
  font-size: 14px;
  line-height: 5px;
  text-align: center;
}

.content .file-container .file-container__item .other {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  height: 100%;
}
.content .file-container .file-container__item .other i{
  color: #a2a2a2;
  line-height: 140px;
  font-size: 120px;
}
.content .file-container .file-container__item .other span {
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 17px;
}